body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  width: 800px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 450px;
}
.active {
  color: rgb(197, 196, 196);
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 35px;
  color: rgb(172, 172, 172);
}
a {
  font-family: sans-serif;
  text-decoration: none;
  color: rgb(150, 150, 150);
  font-size: 15px;
}
.title-1 {
  font-size: 20px;
  color: rgba(27, 25, 25, 0.897);
  font-family: sans-serif;
}
